@import "../../variables.scss";

.inputContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .info {
    width: 100%;
    height: 40%;

    p {
      margin-bottom: $base-spacing;
    }

    div {
      // border: 2px solid green;
      padding-bottom: $base-spacing;
      height: 40%;
      width: 100%;
    }
  }
  .cardContainer {
    height: 40%;
    p {
      margin-bottom: $base-spacing;
    }

    div {
      height: 40%;
      padding-bottom: $base-spacing;
    }
    .cardInfo {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $base-spacing;
    }
  }
}
