@import "../../variables.scss";

.secInfo {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  margin: auto;
  // border: 2px solid black;
  // overflow: hidden;

  .imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $base-spacing * 2 auto;
    width: 80%;
    height: 60%;

    .primary {
      height: 100%;
      width: 100%;
      margin: $base-spacing * 2;
    }
  }

  h2 {
    height: 20%;
    width: 100%;
    color: $secondary-color;
    height: 5%;
    text-align: center;
  }

  .vegBrief {
    height: 30%;
    text-align: center;
    margin: 0 $base-spacing*3; 
  }
}

@media only screen and (min-width: 425px) {
  .secInfo {
    overflow: hidden;

    .imgs {
      width: 100%;
      height: 70%;
      margin-top: 0;

      .primary {
        height: 20%;
        width: 10%;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .secInfo {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 40vh;
    width: 100vw;

    .imgs {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .primary {
        height: 20%;
        width: 10%;
      }
    }
  }
}
