@import "../../variables.scss";

.secInfo {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  height: 200vh;
  width: 100vw;
  margin: auto;
  overflow: hidden;

  .information {
    height: 100%;
    width: 100%;

    .breakdowns {
      height: 100%;
      width: 100%;

      .singleBreakdown {
        width: 100%;
        height: 40%;
      }
    }

    .title {
      width: 100%;
      color: $secondary-color;
      height: 5%;
      text-align: center;
      margin: $base-spacing  0;
    }
  }
}

@media only screen and (min-width: 425px) {
  .secInfo {
    .information {
      .title {
        text-align: left;
        margin-left: $base-spacing * 4;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .secInfo {
    .information {
      height: 60vh;
      margin: auto;

      .title {
        text-align: left;
        margin-left: $base-spacing * 4;
      }

      .breakdowns {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        margin: $base-spacing * 4;

        .singleBreakdown {
          width: 40%;
          height: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .secInfo {
    .information {
      height: 60vh;
      margin: auto;

      .breakdowns {
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow-y: scroll;
        margin: $base-spacing * 4;
        border: 2px solid black;

        .singleBreakdown {
          width: 45%;
          max-height: 100%;
          margin: auto 0; 
        }
      }
    }
  }
}
