@import "../../variables.scss";

.listImage {
  width: 100vw;
  top: $base-spacing * 2;
  padding-left: 20px;

  .dietContainer {
    img {
      display: block;
      width: 20%;
      right: 10vw;
    }
    .title {
      color: $secondary-color;
      font-weight: 600;
      margin: $base-spacing * 2 0 $base-spacing * 6 0;
      font-size: 28px;
    }
  }
}

@media only screen and (min-width: 764px) {
  .listImage {
    height: 100vh;
    .dietContainer {
      img {
        position: absolute;
        width: 20%;
        margin-left: 70%;
        top: 50%;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .listImage {
    .dietContainer {
      img {
        position: absolute;
        width: 15%;
        top: 40%;
      }
    }
  }
}
