@import "../../variables.scss";

.listImage {
  width: 100vw;

  word-wrap: break-word;

  .dietContainer {
    .title {
      color: $secondary-color;
      font-weight: 600;
      font-size: 25px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .listImage {
    height: 100vh;
  }
}

@media only screen and (min-width: 1024px) {
  .listImage {
    border: solid black 2px;
    width: 100%;
    padding: 50px 0 0 75px;
    background-color: $primary-background;
    display: flex;
    // height: 100%;
    .dietContainer {
      border: solid red 2px;
      width: 50%;
      .title {
        color: $secondary-color;
        font-weight: 600;
        margin: $base-spacing * 2 0 $base-spacing * 6 0;
        font-size: 28px;
      }
    }
  }
}
