@import "../../variables.scss";

.card {
  border: 2px solid $warning;
  border-radius: 8px;
  padding: $base-spacing * 3;
  width: 100%;
  height: 100%;
  background-color: $warning-shade;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 320px;

  h2 {
    font-size: 2.5em;
    padding: $base-spacing 0;
  }

  p {
    line-height: 24px;
  }

  .link {
    margin-top: $base-spacing;
    text-decoration: underline;
  }

  &.orange {
    border: 2px solid $raised-warning;
    background-color: $raised-warning-shade;
  }

  &.yellow {
    border: 2px solid $neutral;
    background-color: $neutral-shade;
  }

  &.green {
    border: 2px solid $sucessful;
    background-color: $sucessful-shade;
  }
}



