@import "../../variables.scss";

.infoList {
  width: 50%;

  p {
    margin: $base-spacing 0 $base-spacing * 4 0;
    font-size: 12px;
  }

  h4 {
    margin: $base-spacing * 2 0 $base-spacing 0;
    font-weight: 500;
  }

  .blackText {
    color: $standard-text;
  }

  .purpleText {
    color: $primary-color;
  }
}
