@import "../../variables.scss";

.warningMessage {
    background-color: $neutral;
    border-radius: $base-spacing;
    padding: $base-spacing * 2;

    div {

        @include flex-row;
        justify-content: space-between;
        padding-right: $base-spacing;

        h2 {
            text-emphasis: 2rem;
        }

       p{
           text-decoration: underline;
       }
    }
}