@import "../../variables.scss";

.hideNoSampleBox {
  opacity: 0;
}

.warningMessage {
  background-color: $neutral;
  border-radius: $base-spacing;
  padding: $base-spacing * 2;

  div {
    @include flex-row;
    justify-content: space-between;
    padding-right: $base-spacing;

    p {
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
