@import "../../variables.scss";

.mealIdeas {
  display: flex;
  padding: 0 $base-spacing 0 $base-spacing;

  .dietContainer {
    margin: $base-spacing;
    width: 20%;
  }
}

.mealHeader {
  color: $secondary-color;
  margin-left: $base-spacing * 2;
}

@media only screen and (min-width: 768px) {
  .dietContainer {
    margin: $base-spacing;
    justify-content: space-around;
  }
  .mealHeader {
    margin: $base-spacing * 2 0 $base-spacing * 2 $base-spacing * 2;
  }
}

@media only screen and (min-width: 1024px) {
  .dietContainer {
    margin: $base-spacing;
    justify-content: space-around;
  }
  .mealHeader {
    margin: $base-spacing * 3 0 $base-spacing * 2 $base-spacing * 2;
  }
}
