@import "../../variables.scss";

.mealIdeas {
  display: flex;
  padding: 0 $base-spacing 0 $base-spacing;

  .dietContainer {
    margin: $base-spacing;
  }
}

.mealHeader {
  color: $secondary-color;
  margin-left: $base-spacing * 2;
}

@media only screen and (min-width: 425px) {
  .dietContainer {
    margin: $base-spacing;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 764px) {
  .dietContainer {
    margin: $base-spacing;
    justify-content: space-around;
  }
  .mealHeader {
    margin: $base-spacing 0 $base-spacing * 2 $base-spacing * 2;
  }
}

@media only screen and (min-width: 1024px) {
  .dietContainer {
    margin: $base-spacing;
    justify-content: space-around;
  }
  .mealHeader {
    margin: $base-spacing * 3 0 $base-spacing * 2 $base-spacing * 2;
  }
}

@media only screen and (min-width: 1440px) {
  .mealIdeas {
    margin: $base-spacing * 5;
    justify-content: space-around;
  }
  .mealHeader {
    margin-left: $base-spacing * 7;
  }
}

@media only screen and (min-width: 1920px) {
  .mealIdeas {
    margin: $base-spacing * 5;
    justify-content: space-around;
  }
  .mealHeader {
    margin-left: $base-spacing * 11;
    font-size: 24px;
  }
}
