@import "../../variables.scss";

.mealIdeas {
  width: 100vw;
  display: flex;
  padding: 0 $base-spacing 0 $base-spacing;

  .dietContainer {
    margin: $base-spacing;
  }
}

.mealHeader {
  color: $secondary-color;
  margin-left: $base-spacing * 2;
}

@media only screen and (min-width: 720px) {
  .dietContainer {
    margin: $base-spacing;
  }
}
@media only screen and (min-width: 1440px) {
  .mealIdeas {
    margin: $base-spacing;
    justify-content: space-around;
  }
  .mealHeader {
    margin-left: $base-spacing * 7;
  }
}
