.navBar {
    background-color: #b44370;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px;

    img {
        display: inline-block;
    }

    .links {
        display: flex;
        justify-content: space-evenly;
        color: white;

        p {
            padding: 0 15px;
        }

        .LogOut {
            text-decoration: underline;
            font-weight: lighter;
        }
    }
}
