@import "../../variables.scss.";

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: solid 2px $primary-color;
    border-radius: 5px;
  }
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: url(../../assets/graphic-devices/primary-color-straw.svg);
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 10px;
  bottom: 5px;
  width: 15px;
  height: 30px;
  -webkit-transform: rotate(145deg);
  -ms-transform: rotate(145deg);
  transform: rotate(45deg) scaleY(-1);
}
