@import "../../variables.scss";

.footer {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 200px;
  padding: $base-spacing;

  .titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30%;
  }

  .footerLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
  }

  p {
    color: white;
    line-height: 1.5;
  }

  .title {
    margin-bottom: $base-spacing * 2;
  }
}
