@import "../../variables.scss";

.navBarFlex {
  display: flex;
  justify-content: space-between;

  .nutrientsFlex {
    width: 100%;
    min-height: 100vh;

    .showPanel {
      position: absolute;
      z-index: 2;
    }

    .nutrientPage {
      min-width: 100%;
      position: relative;

      h1 {
        margin-top: $base-spacing * 4;
        position: relative;
        color: $secondary-color;
        font-size: 2em;
        text-align: center;
        z-index: 1;
      }

      .infoCardHolder {
        padding: 0;
        // width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        background: none;
      }
    }

    @media screen and (min-width: 768px) {
      .nutrientPage {
        .infoCardHolder {
          padding: $base-spacing 0;
          flex-direction: row;
          align-items: flex-start;
          display: flex;
          // overflow-x: auto;
        }

        .topContainer {
          padding: $base-spacing $base-spacing * 8;
        }

        h1 {
          margin: 0 0 $base-spacing * 5 0;
        }
      }
    }
  }
}
