@import "../../variables.scss";

.mealList {
  list-style-type: none;
  width: 100%;
  font-weight: 300;
  font-size: 12px;
}

.belowDash {
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
}
