@import "../../variables.scss";

.entirePage {
    @include flex-column;
    

    .mainPage {
        width: 100%;
        // margin-top: $base-spacing * 9;
        @include flex-column;
        align-items: center;

        h2 {
            padding-top: $base-spacing * 2;
            font-size: 48px;
        }

        section {
            width: 100%;
        }

        .healthScore {
            margin-top: $base-spacing * 4;
            background-color: $neutral;
            border-radius: $base-spacing;
            padding: $base-spacing * 2;
            margin-bottom: $base-spacing * 2;

            
            p {
                // text-decoration: underline;
                margin-bottom: $base-spacing;
            }

            li {
                list-style-position: inside;
                padding-left: $base-spacing * 2;
            }  
        }

        .nextSteps {
            background-color: $vojo-cream;
            border-radius: $base-spacing;
            padding: $base-spacing * 2;
            margin-bottom: $base-spacing * 2;

            h3 {
                padding-bottom: $base-spacing;
                font-size: 1em;
            }

            p {
                margin-bottom: $base-spacing;
                font-weight: normal;
            }
        }

        .fruitPeople {
            display: flex;
            justify-content: center;
            img {
                height: 60px;
                width: 60px;
            }

            .beetRoot {
                height: 30px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {

    .entirePage {
        flex-direction: row;
        justify-content: space-between;
        // .stickyTop {
        //     height: calc(100vh - 32px);        
        //     min-width: 186px;
        //     width: 186px;
        //     position: unset;
        //     margin-right: $base-spacing * 2;
        // }
    }
}  