@import "../../variables.scss";

.entirePage {
  @include flex-column;

  .mainPage {
    // margin-top: $base-spacing * 9;
    @include flex-column;
    align-items: center;

    section {
      width: 100%;

      h3 {
        color: $vojo-orange;
        font-size: 22px;
        padding: $base-spacing 0;
      }

      .topCont {
        @include flex-column;
        .healthScore {
          margin-top: $base-spacing * 4;
          background-color: $sucessful;
          border-radius: $base-spacing;
          padding: $base-spacing * 2;
          margin-bottom: $base-spacing * 2;
          @include flex-row;
          align-items: center;
          justify-content: space-between;
          color: white;

          p {
            // text-decoration: underline;
            width: 33%;
            // margin-bottom: $base-spacing;
            // display: inline-block;
          }

          h2 {
            // display: inline-block;
            width: 33%;
            font-size: 42px;
            span {
              font-size: 42px;
            }
          }

          span {
            width: 33%;
            font-size: 13px;
            font-weight: bold;
          }
        }
      }

      .planOfAction {
        @include flex-row;
        align-items: flex-end;
        justify-content: space-between;

        img {
          position: relative;
          z-index: 1;
          width: 70px;
          top: 15px;
        }
      }

      .dietPlan {
        h3 {
          margin-top: $base-spacing * 3;
        }
        div {
          .mojoBox {
            // @include flex-column;
            border-radius: $base-spacing;
            background-color: $secondary-background;
            padding: $base-spacing * 2;
            margin-bottom: $base-spacing * 2;

            button {
              margin-top: $base-spacing * 2;
            }

            ol,
            ul {
              margin-left: $base-spacing * 2;
              li {
                // list-style-position: inside;
                padding-top: $base-spacing * 2;
                p {
                  padding-top: $base-spacing / 2;
                  font-size: 13px;
                }
              }
            }

            p {
              font-weight: normal;

              padding: 0;
            }
          }
          .dietType {
            align-items: center;
            text-align: center;
            img {
              width: 110px;
              margin-bottom: $base-spacing;
            }
            p {
              margin-bottom: $base-spacing;
            }
            h4 {
              font-size: 28px;
              margin-bottom: $base-spacing * 5;
            }
          }
        }
      }

      .whereToNext {
        @include flex-row;
        align-items: flex-end;
        justify-content: space-between;

        img {
          position: relative;
          z-index: 1;
          width: 70px;
          top: 8px;
        }
      }

      .whereNextBox {
        width: 100%;
        height: 100px;
        background-color: $primary-color;
        padding: $base-spacing * 2;
        color: white;
        border-radius: $base-spacing;
        margin-bottom: $base-spacing * 2;

        .whereToArrow {
          @include flex-row;
          justify-content: flex-end;
          align-items: flex-end;
          height: 100%;
          padding-right: $base-spacing * 2;

          img {
            transform: rotate(90deg);
            width: 13px;
            // position: relative;
            // left: 92%;
            // top: 90%;
            :hover {
              border: black 2px solid;
              cursor: pointer;
            }
          }
        }
      }

      .fruitPeople {
        @include flex-row;
        justify-content: center;
        align-items: flex-end;
        margin-top: $base-spacing * 3;
        height: 100%;
        max-width: 100%;

        img {
          height: 40px;
          width: 50px;
        }

        .beetRoot {
          height: 90px;
          width: 70px;
        }

        .banana {
          margin-left: $base-spacing;
          height: 40px;
          width: 80px;
        }
      }

      .prioBox {
        margin-bottom: $base-spacing * 2;
      }
    }
  }
}

@media only screen and (min-width: 375px) {
  .entirePage {
    .mainPage {
      section {
        .topCont {
          .healthScore {
            p,
            span {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .entirePage {
    flex-direction: row;
    // justify-content: space-between;

    .mainPage {
      width: 100%;
      margin-right: $base-spacing * 2;

      section {
        .topCont {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .fruitPeople {
            img {
              height: 60px;
              width: 70px;
            }

            .beetRoot {
              height: 110px;
              width: 90px;
            }

            .banana {
              margin-left: $base-spacing;
              height: 50px;
              width: 110px;
            }
          }
        }
        .prioBoxes {
          @include flex-row;
          border: black solid 2px;
        }
        .dietPlan {
          flex-direction: row;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .entirePage {
    .mainPage {
      section {
        .topCont {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .healthScore {
            width: 630px;
          }
        }
      }
    }
  }
}
