@font-face {
  font-family: gt-walsheim;
  src: url(./assets/fonts/gt-walsheim-pro-medium.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maintenanceContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  p {
    font-family: gt-walsheim;
    color: white;
}
}

