@import "../../variables.scss";
.dnaRegister {
  & * {
    padding: 10px 20px;
  }

  background-color: $primary-background;
  padding-top: 8vh;
  width: 100%;
  height: 100vh;
  text-align: center;

  img,
  p {
    width: 90%;
    margin: 0 auto;
  }

  .input,
  .button {
    width: 90%;
    margin: 0 auto;
    max-width: 320px;
  }

  input::placeholder {
    text-align: center;
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .dnaRegister {
    img,
    .input,
    .button {
      width: 50%;
    }

    img {
      min-width: 600px;
    }
  }
}
